REACT_APP_DEMO_API_URL=https://callguard-server.onrender.com
REACT_APP_API_URL=https://api.callguard360.com
REACT_APP_SUPPORT_WHATSAPP=https://wa.me/447901837771
REACT_APP_OLLIE_WHATSAPP=https://wa.me/447901837771
